<!-- <h2 *ngIf="status; then ifpart else elsepart">{{title}}</h2>
<ng-template #elsepart>
  <h2>unable to fetch the title</h2>
</ng-template>
<ng-template #ifpart>
  <h2>This is the statement gets executed in if part</h2>
</ng-template>

<ng-template [ngIf]="color == 'Red'">
  <h2 style="color:red;">Red</h2>
</ng-template>
<ng-template [ngIf]="color == 'Green'">
  <h2 style="color:green;">Green</h2>
</ng-template>
<ng-template [ngIf]="color == 'Yellow'">
  <h2 style="color:yellow;">Yellow</h2>
</ng-template>
<ng-template [ngIf]="color == 'Blue'">
  <h2 style="color:blue;">Blue</h2>
</ng-template>


<div [ngSwitch]='color'>
  <h2 *ngSwitchCase='"Red"' style ="color:red;">Red</h2>
  <h2 *ngSwitchCase='"Blue"' style ="color:blue;">Red</h2>
  <h2 *ngSwitchCase='"Green"' style ="color:green;">Red</h2>
  <h2 *ngSwitchCase='"Yellow"' style ="color:yellow;">Red</h2>
  <h2 *ngSwitchDefault>Default</h2>
</div> -->


<!-- <ul>
  <li *ngFor="let associates of userarray">{{associates}}</li>
</ul>>
<ul>
  <li *ngFor="let ass_details of userlist">{{userlist}}</li>
</ul>

<table>
  <head>
    <tr>
      <td>Name</td>
      <td>salary</td>
      <td>Location</td>
    </tr>
  </head>
  <tbody>
    <tr *ngFor="let ass_details of userlist">
      <td>{{ass_details.name}}</td>
      <td>{{ass_details.salary}}</td>
      <td>{{ass_details.location}}</td>
       <td>
        <ul>
          <li *ngFor = "let us of us.skillset">
            {{us}}
          </li>
        </ul>
      </td> 
    </tr>
  </tbody>
</table> -->


<!-- <form #basicform='ngForm' (submit)="getData(basicform.value)">
  <input ngModel type="text" 
          name="name" 
          placeholder="Enter username">
  <input ngModel type="text" 
          name="EmailId" 
          placeholder="Enter Mail Id">
  <input ngModel type="text" 
          name="Phoneno" 
          placeholder="Enter Mobile no">
  <button> Submit </button>
</form>

<div>
	<ul>
	    <li>{{dataObject?.name}}</li>
	    <li>{{dataObject?.EmailId}}</li>
	    <li>{{dataObject?.Phoneno}}</li>
	</ul>
</div> -->

<!-- <p>
	<ngb-alert type="custom" [dismissible]="false"><strong>Whoa!</strong> This is a custom alert.</ngb-alert>
</p> -->

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form>

<hr>

<div>
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
  </mat-radio-group>
</div>

<hr>
<div>
  <mat-slide-toggle>Slide me!</mat-slide-toggle>
</div>

<hr>
<div>
  <mat-tab-group>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
</div>

<hr>
<div>
  <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
</div>
